/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* =================================================== Main Code  INDEX ===========================*/

.wrapper
{
  height: 660px;
  widht: 1350px;
  background-color: white;

}
header
{
  height: 100px;
  widht: 1364px;
  /*background-color: rgb(50, 70, 210);*/
  /*background-color: royalblue*/
  background-color: black;
  opacity: .8;
}
section
{
  height: 800px;
  widht: 1400px;
  background-color: white;

}
.Logo
{
  float: left;
  padding-left: 20px;
  padding-top: 20px;
}
.Logo h1
{
  float: right;
  padding-left: 20px;
  padding-top: 20px;
  font-family: Arial
}

li a
{
  color:white;
  text-decoration:none;
  font-family: Arial
}
nav
{
  float: right;
  word-spacing: 20px;
  padding: 20px;

}
nav li
{
  display: inline-block;
  line-height: 50px;
}
section .section_image
{
  height: 800px;
  background-image: url("images/3_blr.jpg");
  margin-top: 0px;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}
.box
{
  height: 300px;
  width: 450px;
  margin:150px auto;
  color: black;
  background-color: #73767b;
  opacity: .3;
}
/*===============================Student Login ===================================*/
.log_img
{
  height: 800px;
  background-image: url("images/3_blr.jpg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;

}
.login_box
{
  height: 350px;
  width: 450px;
  background: black;
  margin:150px auto;
  color: white;
  opacity: .8;

}
form .login
{
  margin: auto 70px;
}

input
{
  height: 25px;
  width: 160px;

}
/*=============================== Registration ===================================*/
.sign_up_box
{
  height: 600px;
  width: 450px;
  background: transparent;
  margin:150px auto;
  color: black;
  opacity: .3;
}

form .sign_up
{
  margin: auto 75px;
}
/*=============================== Books ===================================*/
